# Introduction to Python

In [ ]:
print('Hello, world!')

Hello, world!

## Just for fun!

Did you know that entering `import this` prints the 'Zen of Python'?

The Zen of Python is a collection of 19 "guiding principles" for writing computer programs that influence the design of the Python programming language.

It is always good to follow the zen even when you have an opportunity to show off your Python skills! :)

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## The `help()` function

The `help()` function in python is used to display the documentation of modules, functions, classes, etc.

In [ ]:
# help([object])

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

**NOTE:** If the `help()` function is passed without an argument,then the interactive help utility starts up on the console.

## Accessing the Attributes (/Methods) of any object

In order to understand the pre-loaded attributes of an object, we use the `dir()` function.

In [ ]:
# import [library]
# dir([library])

import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

## Understanding data types in Python

Python has the following data types built-in by default:

Text: `str`

Numeric: `int`, `float`, `complex`

Sequence: `list`, `tuple`, `range`

Mapping: `dict`

Set: `set`, `frozenset`

Boolean: `bool`

Binary: `bytes`, `bytearray`, `memoryview`

In [ ]:
# type(variable) prints the data type of the variable. In this case, string

name = 'John ' + 'Smith'
print(name)
print(type(name))

John Smith
<class 'str'>

**NOTE:** The initialization of datat type to a particular variable happens automaticaly when we assign a value to a variable.

In [ ]:
# class integer

x = 10
print(x)

print(type(x))

10
<class 'int'>

In [ ]:
# class float

decimal = 0.00
print(decimal)
print(type(decimal))

0.0
<class 'float'>

In [ ]:
# class list

groceries = ['apples', 'kiwis', 'milk', 'eggs']

print(groceries)
print(type(groceries))

['apples', 'kiwis', 'milk', 'eggs']
<class 'list'>

In [ ]:
# class list, but tuples

a = [(1, 2), (3, 4, 5), (6, 7)]
print(a)

print(type(a))

[(1, 2), (3, 4, 5), (6, 7)]
<class 'list'>

In [ ]:
# class set

sets = set((10, 2, 53, 15))
print(sets)
print(type(sets))

{10, 2, 53, 15}
<class 'set'>

In [ ]:
# class dictionary

hpc = {'Harry': '10', None:'Headmaster', 'Snape':'Dark Arts'}

print(hpc)
print(type(hpc))

{'Harry': '10', None: 'Headmaster', 'Snape': 'Dark Arts'}
<class 'dict'>

In [ ]:
# class boolean

boolean = True
print('Boolean: ', boolean)
print('Boolean from another data type', bool(decimal))

Boolean:  True
Boolean from another data type False

In [ ]:
#None type

none_type = None

print(type(none_type))

<class 'NoneType'>

## Commonly used operators in Python

In [ ]:
a = 5.5
b = 3.2

print('Add: ', a+b)
print('Subtract: ', a-b)
print('Divide: ', a/b)    # returns the value in float
print('Multiply: ', a*b)
print('Floor Division: ',a//b)
print('Mod: ', a%b)       # returns the value in integer
print('Power: ', a**b)

Add:  8.7
Subtract:  2.3
Divide:  1.71875
Multiply:  17.6
Floor Division:  1.0
Mod:  2.3
Power:  233.97023236799288

### A few tricks

In [ ]:
# swapping two variables

a = 10
b = 6
c = '21'

print('a and b before swap: ', a, b, c)

a, b, c = b, c, a
print('a and b after swap: ', a, b, c)

a and b before swap:  10 6 21
a and b after swap:  6 21 10

In [ ]:
a , *b = 6 , 10 , 21

print('a would be: ', a)
print(type(a))

print('\nb would be: ', b)
print(type(b))

a would be:  6
<class 'int'>

b would be:  [10, 21]
<class 'list'>

## Type casting in Python

Type Casting is the method to convert the variable data type into a certain data type in order for the operation required to be performed by users.

In [ ]:
# switching from string to integer

x = '10'
print(type(x))
print('integer typecasted is: ', int(x))
print(type(x))

<class 'str'>
integer typecasted is:  10
<class 'str'>

In [ ]:
# switching from string to float

print('float typecasted is: ', float(x))

float typecasted is:  10.0

In [ ]:
# switching from string to list

In [ ]:
# switching from integer to string

x = str(1) + '0'

print('integer to string conversion: ', x)

integer to string conversion:  10

In [ ]:
# switching from set to list

s = set((1, 2, 3, 5, 8))
list_s = list(s)

print(list_s)

[1, 2, 3, 5, 8]

In [ ]:
# switching from a tuple to list

tuples = ((1, 2), (1, 'Ginny'), (4, 'Hogwarts'))

list_tup = list(tuples)
print(list_tup)

[(1, 2), (1, 'Ginny'), (4, 'Hogwarts')]

In [ ]:
# swiching from a list to string

In [ ]:
# ascii value of alpha numeric characters

print(chr(120))

x

In [ ]:
# string to ascii

print(ord('x'))

120

## Using in-built functions

### Using the `random` method

This method is used to geenrate 'random' values or ranges depending on the requirement.

In [ ]:
import random

# adding the start and end paramaters

print('Generating a random value: \n')
print(random.randint(6, 10))

Generating a random value:

7

### Using the `math` method

You can use this method(/library) to make mathematical operations much easier.

In [ ]:
import math

print('Inbuilt constant pi', math.pi)
print('The square root of 2209 will be: ', math.sqrt(2209))
print('The floor value of 3.426 is: ', math.floor(3.426))

Inbuilt constant pi 3.141592653589793
The square root of 2209 will be:  47.0
The floor value of 3.426 is:  3

### Using the `datetime` method

Yeah, nothing fancy about it. Just does what the name mentions.

In [ ]:
import datetime

date = datetime.datetime.now()

print(date)
print(type(date))

2021-06-10 17:08:04.345320
<class 'datetime.datetime'>

## Lists!

In [ ]:
# initializing a list
list_1 = list()
print()

# the data type of the variable
print('list_1: ', type(list_1))
print('\n')

# a numeric list
list_num = [1, 2, 3, 4]
print('list_num: ', list_num)
print('\n')

# list with objects
list_object = ['1', '5', 347, '%', '^', 'Williamsburg']
print('list_object: ', list_object)
print('\n')

# The operations are automatically computed when mentioned inside the list
list_operator = [1*2, 'art'+'ist', 10//2]
print('list_operator: ',list_operator)

list_1:  <class 'list'>


list_num:  [1, 2, 3, 4]


list_object:  ['1', '5', 347, '%', '^', 'Williamsburg']


list_operator:  [2, 'artist', 5]

### Accessing the values from a list

**Fun fact:** Python does allow negative indexing!

In [ ]:
print(list_object)

print('First element: ',list_object[0])

['1', '5', 347, '%', '^', 'Williamsburg']
First element:  1

In [ ]:
# executing all the values from the beginning to the end

print(list_object[2:])

[347, '%', '^', 'Williamsburg']

In [ ]:
# let's say that we want we to skip a few values in between

print(list_object[0:6:3])

['1', '%']

In [ ]:
# negative ranges

print(list_object[-4:])

[347, '%', '^', 'Williamsburg']

### Modifying lists

In [ ]:
# make changes in the list

list_object.extend([0, 1.2])
print(list_object)


# make range of values changes

subset_items = [10, 6, 20, 21]
list_object[0:4] = subset_items
print(list_object)

['1', '5', 347, '%', '^', 'Williamsburg', 0, 1.2]
[10, 6, 20, 21, '^', 'Williamsburg', 0, 1.2]

In [ ]:
# skipping changes

subset = ['2', '1062021', '12']
list_object[0:5:2] = subset
print(list_object)

['2', 6, '1062021', 21, '12', 'Williamsburg', 0, 1.2]

In [ ]:
# delete an element

list_object = [1, 2, 12, 12, 12, 3, 4, 5, 6]

# can be used as a stack and/or a queue

list_object.pop(0) #queue
list_object.pop() #stack
list_object.pop(3) #index
print(list_object)

[2, 12, 12, 3, 4, 5]

What do we do if there is an error while removing a value from the list and the list is empty?

In [ ]:
# we use the try except functionality

try:
  list_object.remove(10)
except:
  print('Element not in list')
print(list_object)

## The `for` loop

In [ ]:
for i in range(0,5):
  print(i, end = ' ')

In [ ]:
print('Adding the step parameter ')

for i in range(10,2,-2):
  print(i,end= ' ')

In [ ]:
print('Printing the values in the format of a list ')

sums = [1,1,3,5]
for number in sums:
  print(number)

In [ ]:
print('One-line for loop')

sum_upto_10 = [i for i in range(11)]
print(sum_upto_10)

In [ ]:
print('One-linear nested for loop Matrix Multiplication')

matrix_mul = [j*i for i in range(5) for j in range(5,10)]
print('Matrix Looks like: ', matrix_mul)

In [ ]:
a = ['Hello', 'world', '!']

# iterable method 1
print('Iterable Method 1: ')
for i in range(len(a)):
  print(i,a[i])

# iterable method 2
print('\nIterable Method 2: ')
for i in a:
  print(i)

# (iterable?) method 3
print('\nMethod 3: ')
print(list(enumerate(a)))

## Functions

To define a function, use the `def` keyword followed by the name of the function with attributes.

In [ ]:
def fizzBuzz():
  
  '''
  Given a range print Fizz if divisible by 3, Buzz if divisible by 5 else FizzBuzz if divisible by 3 and 5
  '''

  n = int(input('Enter a number: '))
  count = 1
  while (count <= n):
    string = ''
    if (count %3 == 0):
      string = 'Fizz'
    if (count % 5 == 0):
      string += 'Buzz'
    print(count,string)
    count +=1
    
fizzBuzz()

In [ ]:
def fizzBuzz():
  
  '''
  Same function as above with more if else conditions.
  '''
  
  n = int(input('Enter a number: '))
  count = 1
  while(count <= n):
    if (count % 5 == 0 and count % 3 == 0):
      print(count,'Fizz Buzz')
    elif (count % 3 == 0):
      print(count,'Fizz')
    elif (count % 5 == 0):
      print(count,'Buzz')
    else:
      print(count)
    count +=1

fizzBuzz()

## Dictionaries

In the case of dictionaries, we use `key` and not indexes to refer elements in the dictionary.

In [ ]:
# creating an empty dictionary
dict_ = {}

#dict_ = {key:value,key:value} 
# keys have to be in a set i.e., they are to be unique

string = 'iamdictionaryiteratemeandseethefun'

for ch in string:
  if (ch in dict_):
    dict_[ch] +=1

  else:
    dict_[ch] = 1

for k,v in dict_.items():
  # pass
  print(f'Character {k} and its count {v}')

**NOTE:** If we try updating for a key that is present the original value will be overwritten

In [ ]:
# print value for some key

# Hint: use .get or check for existence before access to avoid error like below

print(dict_['z'])

In [ ]:
print(dict_.get('z'))

## Sorting

For sorting a list, the data type of all the elements should be the same.

In [ ]:
list_ = ['a','3232','21332','bsaa','87','3231']
print(list_)

print('\nAscending order: ')

# the sorting is done only for the first character
result = []
for i in list_:
  sum_ = 0
  for j in i:
    sum_ = ord(j)
    break
  result.append(sum_)

# it checks the first character of the string
# if there is a match, it proceeds further
print('Before sorting')
print(list_)
print(result)

print('---------------')
print('After sorting')
list_.sort()
result.sort()
print(list_)
print(result)

### Difference between `sort()` and `sorted()`

`sort()` function will modify the list it is called on. The function modifies/sorts the list in-place and has no return value.

On the other hand, `sorted()` function will create a new list containing a sorted version of the list it is given.

In [ ]:
a = [1,3,2]
print('a: ', a)
b = sorted(a)
print('a after sorted(): ',a)
print('\nb: ', b)
a.sort()
print('a after sort(): ', a)

## `lambda` functions in Python

In [ ]:
add = lambda a, b, c: a+b+c
print(add(5, 6, 2))

In [ ]:
dictonary = {67:"Jay", 23:"Luke", 12:"Manny", 45:"Gloria", 11:"Lily", 73:"Alex", 99:"Phil"}

# sort the tuple on values
tuples  = sorted(dictonary.items(), key = lambda x:(x[1],x[0]), reverse=False)
print('\nSorted on values')
for elements in tuples:
    print(elements[0],"::",elements[1])